<!DOCTYPE html>
<html lang="en">
	<head>
        <title>{{ project_name }}</title>
        <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1">
        <!-- CSS Here -->
        <link href="{% templatetag openblock %} static 'css/base.css' {% templatetag closeblock %}" rel="stylesheet">
		<!-- End CSS -->
    </head>
    <body>
    	<div id="content">
        {% templatetag openblock %} block content {% templatetag closeblock %}
		{% templatetag openblock %} endblock content {% templatetag closeblock %}
    	</div>
        <!-- Javascript Here -->
        <!-- End Javascript -->
    </body>
</html>
